{%  extends "base.html" %}

{% block title %} Products  {% endblock title %}

{%  block body %} 


<div class="container my-4 " , style="margin:130px;" > 
    <body >
          
 <marquee> <h1 style="color:#9933ff"> Buy Beauty Products and get 20% Discount!!!</h1></marquee>
      
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3",style="color:#ffcccc;">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5" ,style="color:#e600ac">LIPSTICK</h2> 
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c7.jpg" width="350" height="350">
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5" ,style="color:#e600ac">MAKEUP PALATTE</h2>
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c4.jpg" width="350" height="350">
          </div>
        </div>
      </div>
    
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5" ,style="color:#e600ac">MAKEUP KIT</h2>
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c8.jpg" width="350" height="350">
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5" ,style="color:#e600ac">LIP GLOSS </h2>  
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c10.jpg" width="350" height="350">
          </div>
        </div>
      </div>
    
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5" ,style="color:#e600ac">FOUNDATION</h2>
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c11.jpg" width="350" height="350">
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5" ,style="color:#e600ac">MAKEUP </h2> 
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c12.jpg" width="350" height="350">
          </div>
        </div>
      </div>
    
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5" ,style="color:#e600ac">RED ROSE LIPSTICK</h2>
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c2.jpg" width="350" height="350">
          </div>
        </div>

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5" ,style="color:#e600ac">MASCARA</h2> 
          </div>
          <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <img src="static/images/c3.jpg" width="350" height="350">
          </div>
        </div>
      </div>

    
    
    
    
    
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
          
      
    
    </body>



</div>

{% endblock body %}





